@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Sansita+Swashed:wght@700&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,th {
    font-family: 'Sansita Swashed', cursive;
}

p,
small,
button,
a,
li,
label, td {
    font-family: 'Open Sans Condensed', sans-serif;
}

.navigation-container {
    height: 40px;
    background: linear-gradient(greenyellow, rgb(210, 255, 47));
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

footer {
    background-color: rgb(233, 255, 227);
}

.logo-size {
    width: 45px;
}

.acknowledgements-list {
    list-style: none;
}