{% extends 'base.html' %}
{% block content %}

 <!-- Enter Name modal -->
    <div class="modal fade" id="enterNameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Welcome!</h4>
                </div>
                <div class="modal-body p-0">
                    <div class="p-3">
                        <h5>Your Players Name</h5>
                        <input class="form-control" type="text" id="playersNameInput">
                    </div>
                    <hr class="mb-0">
                    <div class="row m-0 p-0">
                        <div class="col-6 m-0 py-0 px-3">
                            <h5 class="mt-3">Players Colour</h5>
                            <input type="color" id="playersColour" value="#ffffff">
                        </div>
                        <div class="col-6 m-0 p-0">
                            <h5 class="mt-3">Select The Difficuly</h5>
                            <div>
                                <label>Easy</label>
                                <input name="difficuly" type="radio" value="easy" checked>
                            </div>
                            <div>
                                <label>Medium</label>
                                <input name="difficuly" type="radio" value="medium">
                            </div>
                            <div>
                                <label>Hard</label>
                                <input name="difficuly" type="radio" value="hard">
                            </div>
                            <div>
                                <label>Extreme</label>
                                <input name="difficuly" type="radio" value="extream">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="ready">Ready</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End game modal -->
    <div class="modal fade" id="endGameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">You died</h5>

                </div>
                <div class="modal-body">
                    <p><span id="playersName"></span> scored: <span id="playersScore"></span></p>
                    <p>Save your score as anonymous<input type="checkbox" class="ml-2">
                </div>
                <div class="modal-footer">
                    <form action="save_high_score/alex/43534/EASY" id="endGameForm" method="POST">
                        <button type="submit" class="btn btn-danger" >I'm a loser</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
        {% for score in high_score %}
            {{ score.name }}
            {{ score.score }}
            {{ score.difficulty }}
        {% endfor %}
    </div>

{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js" integrity="sha512-rMaqGbYalDaQz0lWNF2L8DHPtf4NW+gSZomExS0LcsNyRS4Rmj21+dt97XfXCZE/E569eX72Bh//Jt1EpStgiA==" crossorigin="anonymous"></script>
    <script src='{{ url_for("static", filename="js/main.js") }}'></script>
{% endblock %}