{% extends 'base.html' %}
{% block content %}

<h1 class="text-center py-4 title m-0">FD Games</h1>

<hr class="mt-0 pt-0">
<main id="card-container" class="px-2 px-lg-3 d-flex justify-content-center">
    <div class="row m-0 p-2 p-lg-3 mt-2 mt-lg-5 d-flex justify-content-center" id="card-wrapper">
        <!-- asteroid -->
        <div class="col-12 col-md-3 col-lg-4 p-0 mb-2 mx-lg-2">
            <div class="card container-fluid p-0" style="width: 18rem;">
                <img class="card-img-top" src='{{ url_for("static", filename="img/asteroid_gameplay.png") }}'
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Asteroid</h5>
                    <p class="card-text">A survival game where an endless count of enemies will attack you with increasing
                        difficulty. Use your skills and power-ups to try and get to the top of the leaderboard!</p>
                    <small><b>Compatible:</b></small>
                    <div>
                        <img src="https://img.icons8.com/color/36/000000/monitor.png" />
                        <!-- <img src="https://img.icons8.com/color/28/000000/android.png"/> -->
                        <a href="{{ url_for('asteroid') }}" class="btn btn-dark float-right">Play</a>
                    </div>
                </div>
            </div>
        </div>
           <!-- mastermind -->
        <div class="col-12 col-md-3 col-lg-4 p-0 mb-2 mx-lg-2">
        <div class="card p-0" style="width: 18rem;">
            <img class="card-img-top" src='{{ url_for("static", filename="img/mastermind_gameplay.png") }}'
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mastermind</h5>
                <p class="card-text">Mastermind is a game that requires you to use logic, speculation and reasoning
                    skills to determine the sequence of the coloured counters. Can you outsmart the computer?</p>
                <small><b>Compatible:</b></small>
                <div>
                    <img src="https://img.icons8.com/color/36/000000/monitor.png" />
                    <img src="https://img.icons8.com/color/28/000000/android.png" />
                    <a href="https://fordalex.github.io/mastermind-project/" class="btn btn-dark float-right">Play</a>
                </div>
            </div>
        </div>
        </div>
        
       
    </div>
</main>


{% endblock %}