{% extends 'base.html' %}
{% block header %}FDS Games{% endblock %}
{% block content %}


<main id="card-container" class="px-2 px-lg-3 d-flex justify-content-center">
    <div class="row m-0 py-2 px-2  mt-2 mt-lg-5 d-flex justify-content-center" id="card-wrapper">
        <!-- asteroid -->
        <div class="mx-2 my-2">
            <div class="card p-0" style="width: 18rem;">
                <img class="card-img-top" src='{{ url_for("static", filename="img/titles/asteroid_gameplay.png") }}'
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">UFO Defence</h5>
                    <p class="card-text">A survival game where an endless count of UFO's will attack with
                        increasing difficulty. Use your skills and power-ups to try and get to the top of the leaderboard!</p>
                    <small><b>Compatible:</b></small>
                    <div>
                        <img src="https://img.icons8.com/color/36/000000/monitor.png" />
                        <!-- <img src="https://img.icons8.com/color/28/000000/android.png"/> -->
                        <a href="{{ url_for('ufo_defence') }}" class="btn btn-dark float-right">Play</a>
                    </div>
                    <div>
                        {{ ufo_defense_leader }}
                    </div>
                </div>
            </div>
        </div>
        <!-- mastermind -->
        <div class="mx-2 my-2">
            <div class="card p-0" style="width: 18rem;">
                <img class="card-img-top" src='{{ url_for("static", filename="img/titles/mastermind_gameplay.png") }}'
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mastermind</h5>
                    <p class="card-text">Mastermind is a game that requires you to use logic, speculation and reasoning
                        skills to determine the sequence of the coloured counters. Can you outsmart the computer?</p>
                    <small><b>Compatible:</b></small>
                    <div>
                        <img src="https://img.icons8.com/color/36/000000/monitor.png" />
                        <img src="https://img.icons8.com/color/28/000000/android-tablet.png"/>
                        <img src="https://img.icons8.com/color/28/000000/android.png" />
                        <a href="{{ url_for('mastermind_instructions') }}"
                            class="btn btn-dark float-right">Play</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}