{% extends 'base.html' %}
{% block header %}Santa Catch{% endblock %}
{% block content %}

<div class="row m-0 px-0">
    <div class="col-md-12 col-lg-4 col-xl-3">
        <div class="white-container">
            
        </div>
    </div>
    <div class="col-md-12 col-lg-8 col-xl-6 d-flex justify-content-center">
        <div id="canvasContainer"></div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-3">
        <div class="white-container">
            <h3>High Scores</h3> 
            <table id="highScoreTable" class="container-fluid">
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Difficulty</th>
                </tr>
                {% for score in high_score %}
                <tr>
                    {% if loop.first %}
                    <td><img src="https://img.icons8.com/color/20/000000/gold-medal--v1.png"/></td>
                    {% elif loop.index == 2 %}
                    <td><img src="https://img.icons8.com/color/20/000000/silver-medal--v1.png"/></td>
                    {% elif loop.index == 3 %}
                    <td><img src="https://img.icons8.com/color/20/000000/bronze-medal--v1.png"/></td>
                    {% else %}
                    <td class="pl-1">{{loop.index}}</td>
                    {% endif %}
                    <td class="capitalize">{{ score.name }}</td>
                    <td>{{ score.score }}</td>
                    <td>{{ score.difficulty }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"
    integrity="sha512-rMaqGbYalDaQz0lWNF2L8DHPtf4NW+gSZomExS0LcsNyRS4Rmj21+dt97XfXCZE/E569eX72Bh//Jt1EpStgiA=="
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            const canvas = $('#defaultCanvas0')
            $('#defaultCanvas0').remove()
            $('#canvasContainer').html(canvas)
        }, 300)
    });
    
    const canvasHeight = 600;
    const canvasWidth = 600;
    var santa_image;

    function preload() {
        santa_image = loadImage("{{ url_for("static", filename="img/santa_catch/santa_walk.png") }}");
    }

    function setup() {
        createCanvas(canvasWidth, canvasHeight)
    }

    function draw() {
        background(15);
        santa.draw();
    }

    class Santa {
        constructor() {
            this.height = 32;
            this.width = 24;
            this.position = {
                x: 0,
                y: 0,
            }

            this.img_height = 32;
            this.img_width = 24;
            this.speed = {
                count: 0,
                loop: 5,
            };
            this.img_position = {
                x: 0,
                y: 32,
            }

            
        }
        draw() {
            image(santa_image,this.position.x, this.position.y, this.width, this.height, this.img_position.x, this.img_position.y, 24, 32, )
        }
        update() {
            if (this.speed.count == this.speed.loop) {
                this.speed.count = 0;
            }
            if (this.img_position.x == 0) {
                this.img_position.x = 48;
            }
            this.speed.count++
        }
        moveRight() {
            this.update();
            this.img_position.y = 32;
            if (this.speed.count == this.speed.loop) {
                this.img_position.x -= 24;
            }
        }
    }

    var santa = new Santa();

    window.addEventListener('keydown', function(e) {
        if (e.key == 'd') {
            santa.moveRight();
        }
    })

</script>

{% endblock %}