{% extends 'base.html' %}
{% block header %}
Pong Lobby
{% endblock %}
{% block content %}

<div class="row m-0 p-0 justify-content-center mt-4">
    <div class="col-12">
        <div class="row m-0 p-0 justify-content-center">
            <div class="col-4">
                <div class="white-container">
                    <form action="/pong">
                        <label>Player Name</label>
                        <input type="text" class="form-control" name="playersName">
                        <label>Room ID</label>
                        <input type="number" class="form-control" name="room">
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-dark mt-3">Join / Create</button>
                        </div>
                    </form>
                    {% if message | length > 1%}
                    <p class="text-danger m-0">{{ message }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-3">
        <div class="row m-0 p-0 justify-content-center">
            <div class="col-4">
                <div class="white-container">
                    <h4>Rooms</h4>
                    {% if not lobbyKeys %}
                        <p class="m-0">No rooms are open yet.</p>
                    {% endif %}
                    {% for key in lobbyKeys %}
                        {% if lobbies[key] %}
                        <p class="m-0">Lobby Id: {{key}}</p> 
                        <p class="m-0">Players</p>
                        <ol class="m-0">
                            {% for player in lobbies[key] %}
                            <li>{{ player }}</li>
                            {% endfor %}
                        </ol>
                        {% if lobbies[key] | length < 2 %}
                        <button class="btn container-fluid btn-success">Join</button>
                        {% else %}
                        <p class="m-0 text-warning"><b>Game in progress!</b></p>
                        {% endif %}
                        {% if not loop.last %}
                       <hr>
                       {% endif %}
                       {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}