{% extends 'base.html' %}
{% block header %}
Pong
{% endblock %}
{% block content %}



<div class="row m-0 p-0 justify-content-center">
    <div class="col-12 d-flex justify-content-center m-0 p-0 mb-2">
        <div class="white-container pong-stats-width">
            <div class="d-flex justify-content-between">
                <p class="text-center m-0">Welcome {{ playersName }}!</p>
                <p class="m-0">Room Size: <span id="roomSize"></span></p>
                <p class="text-center m-0">Lobby: {{ room }}</p>
            </div>
            <hr class="mb-1">
            <div id="joinedRoomContainer"></div>

            <div class="d-flex justify-content-between">
                <p class="text-center m-0">Player One is: <span id="playerOne"></span></p>
                <p class="m-0"><b id="playerOneScore">0</b> : <b id="playerTwoScore">0</b></p>
                <p class="text-center m-0">Player Two is: <span id="playerTwo"></span></p>
            </div>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <div id="canvasContainer"></div>
    </div>
</div>


{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href='{{ url_for("static", filename="css/pong.css") }}'>
{% endblock %}

{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"
    integrity="sha512-rMaqGbYalDaQz0lWNF2L8DHPtf4NW+gSZomExS0LcsNyRS4Rmj21+dt97XfXCZE/E569eX72Bh//Jt1EpStgiA=="
    crossorigin="anonymous"></script>
<script src='{{ url_for('static', filename="js/pong/main.js") }}'></script>

<script>
    // connect to locahost or heroku
    if ("{{ hosted }}" == "local") {
        var socket = io.connect("http://localhost:5001/");
    } else {
        var socket = io.connect("https://fd-games.herokuapp.com/");
    }

    $(document).ready(function () {
        setTimeout(function () {
            var canvas = $('#defaultCanvas0')
            $('#defaultCanvas0').remove()
            $('#canvasContainer').html(canvas)
        }, 100)
        // set players name

        socket.emit('join_room', {
            playersName: "{{ playersName }}",
            room: "{{ room }}",
        })

    });

    var canvasHeight = 450;
    var canvasWidth = 600;

    function setup() {
        createCanvas(canvasWidth, canvasHeight)
    }
    var paddleHeight = 70;
    var paddleWidth = 10;

    var playerOneName = '';
    var playerOneX = 20;
    var playerOneY = 20;

    var playerTwoName = '';
    var playerTwoX = canvasWidth - 20;
    var playerTwoY = 20;

    var playerOneScore = 0;
    var playerTwoScore = 0;

    var ballX = canvasWidth / 2 - 5;
    var ballY = canvasHeight / 2 - 5;
    var ballSize = 10;
    var ballDirectionX = 'left';
    var ballDirectionY = 'up';

    var clearMessagesTimer = 0;
    var gameStartDelay = 0;

    function draw() {
        background(15);
        rect(playerOneX, playerOneY, paddleWidth, paddleHeight);
        rect(playerTwoX, playerTwoY, paddleWidth, paddleHeight);
        clearMessagesTimer++

        if ($('#roomSize').text() == 2) {
            gameStartDelay++
            if (gameStartDelay < 100) {
                textSize(32);
                fill(255,255,255);
                text('3', canvasWidth / 2, canvasHeight / 2);
            } else if (gameStartDelay > 99 && gameStartDelay < 200) {
                textSize(32);
                fill(255,255,255);
                text('2', canvasWidth / 2, canvasHeight / 2);
            } else if (gameStartDelay > 199 && gameStartDelay < 299) {
                textSize(32);
                fill(255,255,255);
                text('1', canvasWidth / 2, canvasHeight / 2);
            } else if (gameStartDelay < 320) {
                textSize(32);
                fill(255,255,255);
                text('Start!', canvasWidth / 2, canvasHeight / 2);
            }


        if (gameStartDelay > 300) {
            if ($('#playerOne').text() == "{{ playersName }}") {
            if (ballDirectionX == 'left') {
                ballX -= 3;
            } else {
                ballX += 3;
            }

            if (ballDirectionY == 'up') {
                ballY -= 3;
            } else {
                ballY += 3;
            }
            socket.emit('ball_location', {
                room: '{{ room }}',
                x: ballX,
                y: ballY,
        }); 
        }
        }

        if (clearMessagesTimer > 200) {
            $('#joinedRoomContainer').html('')
        }
        
        rect(ballX, ballY, ballSize, ballSize);

        // if the ball goes off the canvas
        if (ballX > canvasWidth) {
            gameStartDelay = 0;
            ballX = canvasWidth / 2 - 5;
            ballY = canvasHeight / 2 - 5;
            playerOneScore++;
        }

        if (ballX < 0) {
            gameStartDelay = 0;
            ballX = canvasWidth / 2 - 5;
            ballY = canvasHeight / 2 - 5;
            playerTwoScore++;
        }

        // ball collision with playerOne
        if (ballX < playerOneX + paddleWidth && ballX > playerOneX  && ballY + ballSize > playerOneY && ballY < playerOneY + paddleHeight) {
            ballDirectionX = 'right'
        }

        if (ballX > playerTwoX - paddleWidth && ballX < playerTwoX && ballY + ballSize > playerTwoY && ballY < playerTwoY + paddleHeight) {
            ballDirectionX = 'left'
        }

        if (ballY > canvasHeight) {
            ballDirectionY = 'up'
        } 

        if (ballY < 0) {
            ballDirectionY = 'down'
        }

        $('#playerOneScore').html(playerOneScore)
        $('#playerTwoScore').html(playerTwoScore)
        }
        
    }

    window.addEventListener('keydown', function (e) {
        if ($('#playerOne').text() == "{{ playersName }}") {
            if (e.key == 's') {
                if (playerOneY + 77 < canvasHeight) {
                    playerOneY += 20;
                    socket.emit('playerOne_position', {
                        y: playerOneY,
                        room: '{{ room }}',
                    })
                }
            }
            if (e.key == 'w') {
                if (playerOneY > 0) {
                    playerOneY -= 20;
                    socket.emit('playerOne_position', {
                        y: playerOneY,
                        room: '{{ room }}',
                    })
                }
            }
        } else {
            if (e.key == 's') {
                if (playerTwoY + 77 < canvasHeight) {
                    playerTwoY += 20;
                    socket.emit('playerTwo_position', {
                        y: playerTwoY,
                        room: '{{ room }}',
                    })
                }
            }
            if (e.key == 'w') {
                if (playerTwoY > 0) {
                    playerTwoY -= 20;
                    socket.emit('playerTwo_position', {
                        y: playerTwoY,
                        room: '{{ room }}',
                    })
                }
            }
        }

    })


    socket.on('playerOne_position_received', function(data) {
        if ($('#playerOne').text() != "{{ playersName }}") {
            playerOneY = data['y']
        }
    })

    socket.on('playerTwo_position_received', function(data) {
        if ($('#playerOne').text() == "{{ playersName }}") {
            playerTwoY = data['y']
        }
    })

    socket.on('join_room_announcement', function(data) {
        clearMessagesTimer = 0
        $('#roomSize').html(data['players'].length)
        $('#joinedRoomContainer').append(`
    <p class="m-0"><b>${data['playersName']}</b> Has joined!</p>
    <hr class="mt-1">
    `)
        $('#playerOne').html(data['players'][0])
        $('#playerTwo').html(data['players'][1])
    });

    // updating the ball location
    socket.on('ball_position_received', function(data) {
        if ($('#playerOne').text() != "{{ playersName }}") {
            console.log('got ball location')
            ballX = data['x']
            ballY = data['y']
        }
    })


    // Ask the user if they are sure they want to leave and remove them for the room lobby.
    $(window).bind('beforeunload', function() {
        socket.emit('player_leaving', {
            playersName: "{{ playersName }}",
            room: "{{ room }}",
        })
    });

    socket.on('player_left_announcement', function(data) {
        clearMessagesTimer = 0
        $('#joinedRoomContainer').append(`
    <p class="m-0"><b>${e['playersName']}</b> Just left!</p>
    <hr class="mt-1">
    `)
        $('#playerOne').html("")
        $('#playerTwo').html("")
        $('#playerOne').html(data['players'][0])
        $('#playerTwo').html(data['players'][1])
        $('#roomSize').html(data['players'].length)
    });

</script>
{% endblock %}