{% extends 'base.html' %}

{% block header %}Pong{% endblock %}

{% block content %}
<div class="row m-0 p-0 justify-content-center">
    <div class="col-12 d-flex justify-content-center m-0 p-0 mb-2">
        <div class="white-container pong-stats-width">
            <div class="d-flex justify-content-between">
                <p class="text-center m-0">Welcome {{ playersName }}!</p>
                <p class="m-0">Room Size: <span id="roomSize"></span></p>
                <p class="text-center m-0">Lobby: {{ room }}</p>
            </div>
            <hr class="mb-1">
            <div id="joinedRoomContainer"></div>

            <div class="d-flex justify-content-between">
                <p class="text-center m-0">Player One is: <span id="playerOne"></span></p>
                <p class="m-0"><b id="playerOneScore">0</b> : <b id="playerTwoScore">0</b></p>
                <p class="text-center m-0">Player Two is: <span id="playerTwo"></span></p>
            </div>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <div id="canvasContainer"></div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href='{{ url_for("static", filename="css/pong.css") }}'>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"
    integrity="sha512-rMaqGbYalDaQz0lWNF2L8DHPtf4NW+gSZomExS0LcsNyRS4Rmj21+dt97XfXCZE/E569eX72Bh//Jt1EpStgiA=="
    crossorigin="anonymous"></script>
<script src='{{ url_for('static', filename="js/pong/main.js") }}'></script>
<script>
    // socket connect to locahost or heroku.
    if ("{{ hosted }}" == "local") {
        var socket = io.connect("http://localhost:5001/");
    } else {
        var socket = io.connect("https://fd-games.herokuapp.com/");
    }

    // Put the canvas on the page and emit socket join room.
    $(document).ready(function () {
        setTimeout(function () {
            var canvas = $('#defaultCanvas0')
            $('#defaultCanvas0').remove()
            $('#canvasContainer').html(canvas)
        }, 100)
        // set players name
        socket.emit('join_room', {
            playersName: "{{ playersName }}",
            room: "{{ room }}",
        })
    });

    // game variables
    var canvasHeight = 350;
    var canvasWidth = 500;
    var roomSize = 0;

    var playerOneName = '';
    var playerTwoName = '';

    var playerOneScore = 0;
    var playerTwoScore = 0;

    var clearMessagesTimer = 0;
    var gameStartDelay = 0;

    // ball variables
    var ballX = canvasWidth / 2 - 5;
    var ballY = canvasHeight / 2 - 5;
    var ballSize = 10;
    var ballDirectionX = 'left';
    var ballDirectionY = 'up';
    var ballSpeed = 1;

    // player paddles models
    class paddle {
        constructor() {
            this.control = false;
            this.height = 55;
            this.width = 10;
            this.position = {
                x: 10,
                y: canvasHeight / 2 - this.height / 2,
            }
            this.colour = 'rgb(0,0,0)';

        }
        draw() {
            rect(this.position.x, this.position.y, this.width, this.height);
            this.update();
        }
        update() {
            if (this.control) {
                if (mouseY > this.position.y + this.height) {
                    this.moveDown();
                } else if (mouseY < this.position.y) {
                    this.moveUp();
                }
            }
        }
        moveUp() {
            if (this.position.y > 0) {
                this.position.y -= 3;
            }
        }
        moveDown() {
            if (this.position.y + this.height < canvasHeight) {
                this.position.y += 3;
            }
        }
    }

    // creating the players
    var playerOne = new paddle();
    var playerTwo = new paddle();
    playerTwo.position.x = canvasWidth - 10 - playerTwo.width;

    function update_stats() {
        $('#playerOne').html(playerOneName)
        $('#playerTwo').html(playerTwoName)
        $('#roomSize').html(roomSize)
    }

    function setup() {
        createCanvas(canvasWidth, canvasHeight)
        noCursor();
    }

    function draw() {
        background(15);
        fill('rgba(255,255,255,0.9)');
        circle(mouseX, mouseY, 5)

        playerOne.draw();
        playerTwo.draw();
        rect(ballX, ballY, ballSize, ballSize);
        clearMessagesTimer++

        if ($('#roomSize').text() == 2) {
            // Start game count down at the start of the game and after each goal.
            gameStartDelay++
            if (gameStartDelay < 100) {
                ballSpeed = 1;
                textSize(32);
                fill(255, 255, 255);
                text('3', canvasWidth / 2, canvasHeight / 2);
            } else if (gameStartDelay > 99 && gameStartDelay < 200) {
                textSize(32);
                fill(255, 255, 255);
                text('2', canvasWidth / 2, canvasHeight / 2);
            } else if (gameStartDelay > 199 && gameStartDelay < 299) {
                textSize(32);
                fill(255, 255, 255);
                text('1', canvasWidth / 2, canvasHeight / 2);
            } else if (gameStartDelay < 320) {
                textSize(32);
                fill(255, 255, 255);
                text('Start!', canvasWidth / 2, canvasHeight / 2);
            }

            // After delay start game.
            if (gameStartDelay > 300) {
                if (playerOneName == "{{ playersName }}") {
                    if (ballDirectionX == 'left') {
                        ballX -= ballSpeed;
                    } else {
                        ballX += ballSpeed;
                    }

                    if (ballDirectionY == 'up') {
                        ballY -= ballSpeed;
                    } else {
                        ballY += ballSpeed;
                    }
                    socket.emit('ball_location', {
                        room: '{{ room }}',
                        x: ballX,
                        y: ballY,
                    });
                }
            }


            // if the ball goes off the canvas
            if (ballX > canvasWidth) {
                gameStartDelay = 0;
                ballX = canvasWidth / 2 - 5;
                ballY = canvasHeight / 2 - 5;
                playerOneScore++;
            }

            if (ballX < 0) {
                gameStartDelay = 0;
                ballX = canvasWidth / 2 - 5;
                ballY = canvasHeight / 2 - 5;
                playerTwoScore++;
            }

            // ball collision with playerOne
            if (ballX < playerOne.position.x + playerOne.width && ballX > playerOne.position.x && ballY + ballSize > playerOne.position.y && ballY < playerOne.position.y + playerOne.height) {
                ballDirectionX = 'right'
            }
            if (ballX > playerTwo.position.x - playerTwo.width && ballX < playerTwo.position.x && ballY + ballSize > playerTwo.position.y && ballY < playerTwo.position.y + playerTwo.height) {
                ballDirectionX = 'left'
            }
            if (ballY + ballSize > canvasHeight) {
                ballDirectionY = 'up'
            }
            if (ballY < 0) {
                ballDirectionY = 'down'
            }

            $('#playerOneScore').html(playerOneScore)
            $('#playerTwoScore').html(playerTwoScore)
            socket.emit('playerTwo_position', {
                        y: playerTwo.position.y,
                        room: '{{ room }}',
                    })
                    socket.emit('playerOne_position', {
                        y: playerOne.position.y,
                        room: '{{ room }}',
                    })
        }
    }

    window.addEventListener('keydown', function (e) {
        if (playerOneName == "{{ playersName }}") {
            if (e.key == 's') {
                if (playerOne.position.y + playerOne.height < canvasHeight) {
                    playerOne.moveDown();
                }
            }
            if (e.key == 'w') {
                if (playerOne.position.y > 0) {
                    playerOne.moveUp();
                }
            }
        } else {
            if (e.key == 's') {
                if (playerTwo.position.y + playerOne.height < canvasHeight) {
                    playerTwo.moveDown();
                }
            }
            if (e.key == 'w') {
                if (playerTwo.position.y > 0) {
                    playerTwo.moveUp();
                }
            }
        }
    })

    socket.on('playerOne_position_received', function (data) {
        if (playerOneName != "{{ playersName }}") {
            playerOne.position.y = data['y'];
        }
    })

    socket.on('playerTwo_position_received', function (data) {
        if (playerOneName == "{{ playersName }}") {
            playerTwo.position.y = data['y'];
        }
    })

    socket.on('join_room_announcement', function (data) {
        clearMessagesTimer = 0
        roomSize = data['players'].length;
        playerOneName = data['players'][0];
        playerTwoName = data['players'][1];
        if (playerOneName == '{{ playersName }}') {
            playerOne.control = true;
        } else {
            playerTwo.control = true;
        }
        $('#joinedRoomContainer').append(`
        <p class="m-0"><b>${data['playersName']}</b> Has joined!</p>
        <hr class="mt-1">
        `)
        update_stats()
    });

    // updating the ball location
    socket.on('ball_position_received', function (data) {
        if (playerOneName != "{{ playersName }}") {
            ballX = data['x']
            ballY = data['y']
        }
    })

    // Update the lobby size and notify other player a player left.
    $(window).bind('beforeunload', function () {
        socket.emit('player_leaving', {
            playersName: "{{ playersName }}",
            room: "{{ room }}",
        })
    });

    socket.on('player_left_announcement', function (data) {
        clearMessagesTimer = 0
        playerOneName = data['players'][0];
        playerTwoName = data['players'][1];
        roomSize = data['players'].length;
        $('#joinedRoomContainer').append(`
            <p class="m-0"><b>${e['playersName']}</b> Just left!</p>
            <hr class="mt-1">
            `)
        update_stats()
    });
</script>
{% endblock %}