{% extends 'base.html' %}
{% block header %}
Pong
{% endblock %}
{% block content %}



<div class="row m-0 p-0 justify-content-center">
    <div class="col-12 d-flex justify-content-center m-0 p-0 mb-2">
        <div class="white-container pong-stats-width">
            <div class="d-flex justify-content-between">
                <p class="text-center m-0">Welcome {{ playersName }}!</p>
                <p class="m-0">Room Size: <span id="roomSize"></span></p>
                <p class="text-center m-0">Lobby: {{ room }}</p>
            </div>
            <hr class="mb-1">
            <div id="joinedRoomContainer"></div>

            <div class="d-flex justify-content-between">
                <p class="text-center m-0">Player One is: <span id="playerOne"></span></p>
                <p class="text-center m-0">Player Two is: <span id="playerTwo"></span></p>
            </div>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <div id="canvasContainer"></div>
    </div>
</div>

<!-- Are you sure you want to leave modal -->
<div class="modal fade" id="leaveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>This will disconnected you from the server.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Leave</button>
          <button type="button" class="btn btn-warning">Back to Pong</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href='{{ url_for("static", filename="css/pong.css") }}'>
{% endblock %}

{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"
    integrity="sha512-rMaqGbYalDaQz0lWNF2L8DHPtf4NW+gSZomExS0LcsNyRS4Rmj21+dt97XfXCZE/E569eX72Bh//Jt1EpStgiA=="
    crossorigin="anonymous"></script>
<script src='{{ url_for('static', filename="js/pong/main.js") }}'></script>

<script>
    // connect to locahost or heroku
    if ("{{ hosted }}" == "local") {
        var socket = io.connect("http://localhost:5001/");
    } else {
        var socket = io.connect("https://fd-games.herokuapp.com/");
    }
    

    $(document).ready(function () {
        setTimeout(function () {
            var canvas = $('#defaultCanvas0')
            $('#defaultCanvas0').remove()
            $('#canvasContainer').html(canvas)
        }, 100)
        // set players name
        $('#playerOne').html("{{ playersName }}")

        socket.emit('join_room', {
            playersName: "{{ playersName }}",
            room: "{{ room }}",
        })
   
    });

    var canvasHeight = 600;
    var canvasWidth = 600;

    function setup() {
        createCanvas(canvasWidth, canvasHeight)
    }

    var playerOneX = 20;
    var playerOneY = 20;

    var playerTwoX = canvasWidth - 20;
    var playerTwoY = 20;

    var clearMessagesTimer = 0;

    function draw() {
        clearMessagesTimer++
        if (clearMessagesTimer > 300) {
            $('#joinedRoomContainer').html('')
        }
        background(15);
        rect(playerOneX, playerOneY, 10, 70);
        rect(playerTwoX, playerTwoY, 10, 70);
    }

window.addEventListener('keydown', function (e) {
    if ($('#playerOne').text() == "{{ playersName }}") {
        if (e.key == 's') {
            if (playerOneY + 77 < canvasHeight) {
                playerOneY += 20;
                socket.emit('playerOne_position', {
                    y: playerOneY,
                    room: '{{ room }}',
                })
            }
        }
        if (e.key == 'w') {
            if (playerOneY > 0) {
                playerOneY -= 20;
                socket.emit('playerOne_position', {
                    y: playerOneY,
                    room: '{{ room }}',
                })
            }
        }
    } else {
        if (e.key == 's') {
            if (playerTwoY + 77 < canvasHeight) {
                playerTwoY += 20;
                socket.emit('playerTwo_position', {
                    y: playerTwoY,
                    room: '{{ room }}',
                })
            }
        }
        if (e.key == 'w') {
            if (playerTwoY > 0) {
                playerTwoY -= 20;
                socket.emit('playerTwo_position', {
                    y: playerTwoY,
                    room: '{{ room }}',
                })
            }
        }
    }
   
})


socket.on('playerOne_position_received', function (e) {
    if ($('#playerOne').text() != "{{ playersName }}") {
        playerOneY = e['y']
    }
})

socket.on('playerTwo_position_received', function (e) {
    if ($('#playerOne').text() == "{{ playersName }}") {
        playerTwoY = e['y']
    }
    })

socket.on('join_room_announcement', function (e) {
        $('#roomSize').html(e['players'].length)
        $('#joinedRoomContainer').append(`
    <p class="m-0"><b>${e['playersName']}</b> Has joined!</p>
    <hr class="mt-1">
    `)
    $('#playerOne').html(e['players'][0])
    $('#playerTwo').html(e['players'][1])
});




// Ask the user if they are sure they want to leave and remove them for the room lobby.
$(window).bind('beforeunload', function(){
    return "Are you sure you want to leave the lobby?"
});


</script>
{% endblock %}